* {
  margin: 0;
}
body {
  background: rgb(25, 28, 36);
}
header {
  padding: 8px;
  display: flex;
  color: #039855;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid #039855;
}
